@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: black;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*SELECTOR STYLES*/
.t-select-box {
  @apply flex justify-between items-center px-4 py-2 border border-indigo-500 rounded-lg cursor-pointer relative;
}
.t-select-box:hover {
  @apply border-indigo-600;
}
.t-select-box-active {
  box-shadow: 0 0 0 2px rgba(126, 134, 251, 0.1);
}
.t-select-icon {
  transition: all 0.3s;
}
.t-select-box-active .t-select-icon {
  transform: rotate(180deg);
}
.t-select-label {
  @apply mb-1;
}
.t-select-text,
.t-select-placeholder {
  @apply mr-4;
}
.t-select-placeholder {
  @apply text-gray-500;
}
.t-select-dropdown {
  @apply bg-white rounded-lg mt-1 overflow-hidden absolute w-full z-50 p-1;
  box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.08),
    0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
}
.t-select-dropdown-option {
  @apply px-4 py-2 cursor-pointer bg-white w-full rounded-sm flex items-center justify-between;
}
.t-select-dropdown-option:hover {
  @apply bg-indigo-100;
}

/*BUTTON STYLES*/
.t-button {
  @apply relative z-30 px-4 py-2 font-semibold rounded-lg border-none outline-none bg-indigo-500 text-white cursor-pointer transition-all duration-150 overflow-hidden;
  @apply after:-z-20 after:absolute after:h-1 after:w-1 after:bg-indigo-600 after:left-5 after:bottom-0 after:translate-y-full after:rounded-md after:transition-all after:duration-350;
  @apply hover:px-6 hover:bg-indigo-400;
  @apply hover:after:scale-[200] after:hover:transition-all after:hover:duration-350;
  @apply active:bg-indigo-600;
}
